@page
@model WebClient.Pages.SpaceX.LaunchesModel
@{
	ViewBag.Title = "Launches";
}

<h3>Launches</h3>

<partial name="_SearchStringPartial" model="Model.Pagination!" />

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-3" scope="col">
				<a asp-route-sortField="ID"
				   asp-route-sortDirection="@Model.Pagination!.GetNextSortingDirection("ID")"
				   asp-route-searchString="@Model.Pagination!.SearchString">
					<span class="fw-bold">ID</span>
				</a>
			</th>
			<th class="col-2" scope="col">
				<a asp-route-sortField="LaunchYear"
				   asp-route-sortDirection="@Model.Pagination!.GetNextSortingDirection("LaunchYear")"
				   asp-route-searchString="@Model.Pagination!.SearchString">
					<span class="fw-bold">Launch Year</span>					
				</a>				
			</th>
			<th class="col-6" scope="col">
				<a asp-route-sortField="MissionName"
				   asp-route-sortDirection="@Model.Pagination!.GetNextSortingDirection("MissionName")"
				   asp-route-searchString="@Model.Pagination!.SearchString">
					<span class="fw-bold">Mission Name</span>					
				</a>
			</th>
			<th class="col-1" scope="col">
				<a asp-route-sortField="IsUpcoming"
				   asp-route-sortDirection="@Model.Pagination!.GetNextSortingDirection("IsUpcoming")"
				   asp-route-searchString="@Model.Pagination!.SearchString">
					<span class="fw-bold">Upcoming?</span>					
				</a>				
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var curLaunch in Model.Launches)
		{
			<tr>
				<td>@curLaunch.Id</td>
				<td>@curLaunch.Launch_Year</td>
				<td>@curLaunch.Mission_Name</td>
				<td>@curLaunch.Upcoming</td>
			</tr>
		}
	</tbody>
</table>

<partial name="_PaginationPartial" model="Model.Pagination!" />
