@model UserAccountCollectionModel
@{
	ViewBag.Title = "UserAccounts";
}

<h3>User accounts</h3>

<partial name="_SearchStringPartial" model="Model.Pagination!" />

<table class="table table-striped">
	<thead>
		<tr>
			<th class="col-3" scope="col">
				<a asp-route-sortField="ID"
				   asp-route-sortDirection="@Model.Pagination!.GetNextSortingDirection("ID")"
				   asp-route-searchString="@Model.Pagination!.SearchString">
					<span class="fw-bold">ID</span>
				</a>
			</th>
			<th class="col-4" scope="col">
				<a asp-route-sortField="Name"
				   asp-route-sortDirection="@Model.Pagination!.GetNextSortingDirection("Name")"
				   asp-route-searchString="@Model.Pagination!.SearchString">
					<span class="fw-bold">Name</span>
				</a>
			</th>
			<th class="col-4" scope="col">
				<a asp-route-sortField="Email"
				   asp-route-sortDirection="@Model.Pagination!.GetNextSortingDirection("Email")"
				   asp-route-searchString="@Model.Pagination!.SearchString">
					<span class="fw-bold">Email</span>
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var curUser in Model.UserAccounts)
		{
			<tr>
				<td>@curUser.Id</td>
				<td>@curUser.UserName</td>
				<td>@curUser.Email</td>
			</tr>
		}
	</tbody>
</table>

<partial name="_PaginationPartial" model="Model.Pagination!" />